.question {
	border-radius: 10px;
	font-size:1.2rem;
	background: rgba(10,10,27);
	padding:10px;
	margin:10px;
	z-index: 2;
}
.questionTextWrapper{
	color:#fff;
}
.options{
	margin:5px;
	padding:3px;
	cursor: pointer;
	color: #FFFFFF;
	background: rgb(33 33 44);
	border-radius: 5px;
	padding-left: 0.5rem;
}
.optionsCorrect{
	background:rgb(46,164,79);
}
.crossIcon {
	height: 15px; 
	width:15px;
	border-radius: 3px;
}
.crossIcon:hover{
	z-index: 1;
	border-radius: 1px;
}
.crossIcon:active{
	border-radius: 3px;
}
.questionTextWrapper{
	display: flex;
	justify-content: space-between;
}