.setQuestionContainer{
	background: #030618;
	padding:3px;
}

.saveButton{
	border: 0px;
  font-size: 20px;
  color: #fff;
  background: rgba(46,164,79);
  border-radius: 5px;
  height: 35px;
  width: 75px;
	box-shadow: 2px 2px 5px rgba(255,255,255,0.5);
	margin: 10px;
}
.saveButtonContainer{
	position: relative;
	display: flex;
	justify-content: flex-end;
	height: 50px;
	width: 100%;
}

.addQuestionText{
	color: #fff;
  margin: 10px;
  text-decoration: underline;
}

.deleteExamContainer{
	position: relative;
  display: flex;
  justify-content: flex-end;
  height: 50px;
  width: 100%;
}

.deleteButton{
	border: 0px;
  font-size: 18px;
  color: #fff;
  background: #CB2431;
  border-radius: 5px;
  height: 35px;
  width: 125px;
  box-shadow: 2px 2px 5px rgba(255,255,255,0.5);
  margin: 10px;
}