.popupBackground{
	height: 100vh;
  width: 100vw;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
	/* background: rgba(244,249,253,0.6); */
	background: rgba(32,34,52, 0.6);
  backdrop-filter: blur(5px);
  position: absolute;
}
.crossIconBlack{
	height: 25px;
  width: 25px;
  position: fixed;
  top: 10px;
  right: 10px;
}
.addQuestionContainer{
	padding: 60px;
  margin-top: 7vh;
	/* background: #F4F6FA; */
	background: #030618;
  border: 1px solid grey;
  border-radius: 8px;
  margin-left: 7vh;
  margin-right: 7vw;
	height: calc(86vh - 120px);
	position: relative;
}
/* .addQuestion{
	display: flex;
	justify-content: space-between;
} */
.textArea{
  border-style: hidden;
  z-index: 1;
  border-radius: 8px;
  height: 100px;
  width: 100%;
  font-size: 20px;
	box-shadow:4px 4px 20px -3px rgba(45,52,223, 0.8);
	border-radius: 8px;
	background-color: #202234;
	color:#FFFFFF;
	margin-bottom: 20px;

}
.textArea:focus{
	outline: none;
}

.addedOptionsContainer{
	margin-top:8px;
}
.addedOptions{
	margin-bottom: 5px;
  padding: 5px;
	display: flex;
	justify-content: space-between;
	background: rgb(10,10,27);
	border-radius: 4px;
}
.highlightOption{
	margin-bottom: 5px;
	padding: 5px;
	display: flex;
	justify-content: space-between;
	background: rgb(46,164,79);
	border-radius: 4px;
	
}
.optionIndex{
	margin: 5px;
	font-size: 18px;
	z-index: 1;
	color:#FFFFFF;
}
.optionText{
	margin: 5px;
  padding: 5px;
	font-size: 18px;
	z-index: 1;
	color:#FFFFFF;
}

.removeButton{
	position: relative;
  border: 0px;
	height: 100%;
  background: #CB2431;
	color: #fff;
	z-index: 2;
  font-size: 18px;
  align-self: center;
	box-shadow: 1px 1px 4px;
	
}



.optionsInputContainer{
	/* padding:5px; */
	/* width: 100%; */
	display: flex;

}
.optionsInput{
	width: 100%;
	height: 25px;
	padding:6px;
	font-size: 15px;
	margin-top: 12px;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	border-style: hidden;
	z-index: 1;
	background-color: #202234;
	color:#FFFFFF;
}
.optionsInput:focus{
	outline: none;
}
.optionDoneButton{
	height: 100%;
	padding:11px;
	text-align: center;
	padding-right: 15px;
	font-size: 15px;
	color: #FFFFFF;
	margin-top: 12px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	border-style: none;
	z-index: 2;
	/* background-color: #2EA44F; */
	background-color: #2D34DF;
	/* box-shadow:4px 4px 20px -3px rgba(46,164,79,.8); */
	box-shadow:4px 4px 20px -3px rgba(45,52,223, 0.8);
}

.addOptionsText{
	position: relative;
  color: rgba(45,52,223);
  text-decoration: underline;
  font-size: 18px;
	top: 20px;
	cursor: pointer;
}

.doneButton{
	border: 0px;
  font-size: 20px;
  color: #fff;
  background: rgba(46,164,79);
  border-radius: 5px;
  height: 35px;
  width: 75px;
  box-shadow: 2px 2px 5px rgba(255,255,255,0.5);
}
.doneButtonContainer{
	position: absolute;
  bottom: 25px;
  left: 25px;
}