.popupBackground{
	height: 100vh;
  width: 100vw;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
	background: rgba(32,34,52, 0.6);
  backdrop-filter: blur(5px);
	position: absolute;
	display: flex;
	justify-content: center;
	z-index:2;
}
.crossIconBlack{
	height: 25px;
  width: 25px;
  position: fixed;
  top: 10px;
  right: 10px;
}
.addQuestionContainer{
	padding: 60px;
	margin-top: 7vh;
	margin-bottom:7vh;
  background: #121212;
  border-radius: 8px;
  height: calc(86vh - 120px);
  position: relative;
  width: 45%;
}
.textAreaWrapper{
	position: relative;
	height:5rem;
	border-radius: 0.5rem;
	border:1px solid rgba(255,255,255, 0.5);
	background: #181A1B;
	margin-top:25px;
}
.textArea{
	position: relative;
	width: 100%;
	height:calc(100% - 5px);
	background: transparent;
	border:0;
	text-indent: 0.75rem;
	color:#ffffff;
	font-size:1rem;
	padding-top:5px;

}
.textArea:focus + .textAreaPlaceholder{
	background: #121212;
  transform: translate(0.625rem, -18px) scale(0.8);
}

.textAreaPlaceholder{
	color: rgba(white, 0.875);
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  padding: 0 0.25rem;
  font-weight: 400;
  transform: translate(0.5rem, -20px);
  transform-origin: 0% 0%;
  background: transparent;
  pointer-events: none;
  transition: transform 0.35s, background 0.35s;
}
.addedOptionsContainer{
	margin-top:8px;
}
.addedOptions{
	margin-bottom: 5px;
  padding: 5px;
	display: flex;
	justify-content: space-between;
	background: #181A1B;
	border-radius: 4px;
}
.highlightOption{
	margin-bottom: 5px;
	padding: 5px;
	display: flex;
	justify-content: space-between;
	background: rgb(46,164,79);
	border-radius: 4px;
	
}
.optionIndex{
	margin: 3px;
	font-size: 18px;
	z-index: 1;
	color:#FFFFFF;
}
.optionText{
	margin: 5px;
  padding: 5px;
	font-size: 1rem;
	z-index: 1;
	color:#FFFFFF;
	margin-left:0px;
}

.removeIcon{
	height: 18px;
	width: 18px;
	align-self: center;
}

.optionsInputContainer{
	display: flex;
}
.optionsInput{
	width: 100%;
	height: 25px;
	padding:6px;
	font-size: 15px;
	margin-top: 12px;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	border-style: hidden;
	z-index: 1;
	background-color: #181A1B;
	color:#FFFFFF;
}
.optionsInput:focus{
	outline: none;
}
.optionDoneButton{
	height: 100%;
	padding:11px;
	text-align: center;
	padding-right: 15px;
	font-size: 15px;
	color: #FFFFFF;
	margin-top: 12px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	border-style: none;
	z-index: 2;
	background-color: #2D34DF;
}

.addOptionsText{
	position: relative;
  color: rgba(45,52,223);
  text-decoration: underline;
  font-size: 1rem;
	top: 20px;
	cursor: pointer;
}

.doneButton{
	border: 0px;
  font-size: 20px;
  color: #fff;
  background: rgba(46,164,79);
  border-radius: 5px;
  height: 35px;
  width: 75px;
}
.doneButtonContainer{
	position: absolute;
  bottom: 25px;
  left: 25px;
}